# GameZone

### Console Wars

### Author: Wenyi Xu

Discuss the epic console war amongst **Sony**, **Microsoft** and **Nintendo**.

Scape to get some datasets for analysis and visualization to show the sales and other statistics for different platforms.

## Backgroud Information

### Playstation Release timeline

* PS1 Release Date	Saturday - December 3, 1994

* PS2 Release Date	Saturday - March 4, 2000

* PS3 Release Date	Saturday - November 11, 2006

* PS4 Release Date	Friday - Nov 15, 2013 

* PS4 Pro Release	Thursday - Nov 10, 2016 

### Playstation Release timeline

* Xbox Release Date	- November 15, 2001

* Xbox 360 Release Date	- November 22, 2005

* Xbox One Release Date	- November 22, 2013

* Xbox One X Release Date - June 13, 2016

### Nintendo Platforms release timeline

* NES Release Date - July 15, 1983

* Nintendo 64 Release Date - June 23, 1996

* GameCube Release Date - September 14, 2001

* Wii Release Date - November 19, 2006

* Wii u Release Date - November 18, 2012

* Switch Release Date - March 3, 2017

## Part 0: Scrape VGChartz

Scrape VGChartz to get useful datasets about game and hardware sales for different platforms.

I can only find sales data of home video games consoles on VGChartz starting from 25th Nov 2006 (PS3 & XBOX360 & Wii), so the data of PS2 and other previous consoles need to be extracted from other sources.

In [31]:
%%html
<style>
    table {
        display: inline-block
    }
</style>

In [178]:
import urllib3
from bs4 import BeautifulSoup
import pandas as pd
from datetime import date
from datetime import datetime
from datetime import timedelta
import math
import time

The VGChartz important pages that contain data we need

In [32]:
# Main page
vgchartz_main_url = 'http://www.vgchartz.com/'
# Gloabl weekly sales
# http://www.vgchartz.com/weekly/[date_id]/Global/
# date_id: start from 39047 (25th Nov 2006) to 43058 (18th Nov 2017)
date_id_start = 39047
date_start = datetime(2006, 11, 25)
date_id_end = 43058
date_end = datetime(2017, 11, 18)

date_id = 39047

vgchartz_weekly_url_head = 'http://www.vgchartz.com/weekly/'
vgchartz_weekly_url_tail = '/Global/'
vgchartz_weekly_url = vgchartz_weekly_url_head + str(date_id) + vgchartz_weekly_url_tail

Check if the date diff correspond to the date_id diff

In [27]:
print(datetime(2017, 11, 18) - date_start)
print(43058 - 39047)

4011 days, 0:00:00
4011

### Function get_weekly_url

**Date --> weekly_url**

We have

* Start date: date_start (25th Nov 2006)

* Start date id: date_id_start (39047)

* End date: date_end (18th Nov 2017)

* End date id: date_id_end (43058)

When given a random date between 25th Nov 2006 & 18th Nov 2017, we want to first get its corresponding week_id, and then generate its vgchartz_weekly_url

In [47]:
# date: in datetime format
def get_weekly_url(date):
    
    if type(date) != type(date_end):
        return 'Date must be type datetime'
    if date < date_start or date > date_end:
        return 'Date must be from 25th Nov 2006 to 18th Nov 2017'
    
    date_diff = date - date_start
    day_diff = date_diff.days
    # Round up
    week_diff = math.ceil(day_diff/7.0)
    date_id = date_id_start + week_diff*7
    
    vgchartz_weekly_url = vgchartz_weekly_url_head + str(date_id) + vgchartz_weekly_url_tail
    return vgchartz_weekly_url

In [52]:
# Test the function get_weekly_url
print(get_weekly_url('25th Nov 2006') == 'Date must be type datetime')
print(get_weekly_url(datetime(2000, 11, 20)) == 'Date must be from 25th Nov 2006 to 18th Nov 2017')
print(get_weekly_url(datetime(2017, 11, 20)) == 'Date must be from 25th Nov 2006 to 18th Nov 2017')
print(get_weekly_url(datetime(2007, 2, 17)) == 'http://www.vgchartz.com/weekly/39131/Global/')

True
True
True
True

Create the PoolManager

In [12]:
http = urllib3.PoolManager()

Make the request 

and query the pages

In [65]:
vgchartz_main_response = http.request('GET', vgchartz_main_url)
vgchartz_main_soup = BeautifulSoup(response.data, "lxml")

vgchartz_week_response = http.request('GET', vgchartz_weekly_url)
vgchartz_week_soup = BeautifulSoup(vgchartz_week_response.data, "lxml")

Now we have **soup**: the **HTML** of the VGCHartz pages.

Now try to extract some useful data.

There are 2 useful tables in weekly sales pages: **Global Hardware by Platform** & **Global Software by Platform**

Example of the **Global Hardware by Platform** table:

|Platform |	Weekly (change) |	Total |
|---------|-----------------|--------|
|DS	| 905,597	(+88%) |	29,319,098 |
|Wii |	529,658	(N/A) |	529,658 |
|X360 |	361,561	(+87%) |	5,943,800 |
|PSP |	352,884	(+87%) |	17,124,390 |
|PS3 |	103,130	(-50%) |	394,937 |

In [113]:
tags = vgchartz_week_soup.find_all('h2', attrs={'class': 'heading'})
tags

[<h2 class="heading">Global Hardware by Platform</h2>,
 <h2 class="heading">Global Software by Platform</h2>]

Extract the table names from the corresponding tags

In [112]:
table_names = [tag.text for tag in tags]   
table_names

['Global Hardware by Platform', 'Global Software by Platform']

### Extract the Global Hardware by Platform table

In [123]:
charts = vgchartz_week_soup.find_all('table', class_="chart")
len(charts)

4

After manually check the HTML, I found there are totally 4 charts per page.

And the 'Global Hardware by Platform' is the 3rd one -_-

In [126]:
hardware_sale_table = charts[2]
hardware_sale_table.find_all('th')

[<th align="left">Platform</th>,
 <th align="right" colspan="2">Weekly <span style="font-size:70%;">(change)</span></th>,
 <th align="right">Total</th>,
 <th align="left">Total</th>,
 <th align="right" style="padding-right:1px;">2,252,830</th>,
 <th align="left" style="padding-left:2px;"><span style="font-size:70%;">(+111%)</span>
 </th>,
 <th align="left"> </th>]

Get all the **colume** names

In [128]:
hardware_sale_cols = [x.text for x in hardware_sale_table.find_all('th')][:3]
hardware_sale_cols

['Platform', 'Weekly (change)', 'Total']

In [137]:
hardware_sale_table.find_all('td', attrs={})

[<td align="left">DS</td>,
 <td align="right" style="padding-right:1px;">905,597</td>,
 <td align="left" style="padding-left:2px;"><span style="font-size:70%;">(+88%)</span></td>,
 <td align="right">29,319,098</td>,
 <td align="left">Wii</td>,
 <td align="right" style="padding-right:1px;">529,658</td>,
 <td align="left" style="padding-left:2px;"><span style="font-size:70%;">(N/A)</span></td>,
 <td align="right">529,658</td>,
 <td align="left">X360</td>,
 <td align="right" style="padding-right:1px;">361,561</td>,
 <td align="left" style="padding-left:2px;"><span style="font-size:70%;">(+87%)</span></td>,
 <td align="right">5,943,800</td>,
 <td align="left">PSP</td>,
 <td align="right" style="padding-right:1px;">352,884</td>,
 <td align="left" style="padding-left:2px;"><span style="font-size:70%;">(+87%)</span></td>,
 <td align="right">17,124,390</td>,
 <td align="left">PS3</td>,
 <td align="right" style="padding-right:1px;">103,130</td>,
 <td align="left" style="padding-left:2px;"><span style="font-size:70%;">(-50%)</span></td>,
 <td align="right">394,937</td>]

In [140]:
hardware_sale_rows = hardware_sale_table.find_all('td', attrs={})
hardware_sale_rows = [row.text.strip() for row in hardware_sale_rows]
hardware_sale_rows

['DS',
 '905,597',
 '(+88%)',
 '29,319,098',
 'Wii',
 '529,658',
 '(N/A)',
 '529,658',
 'X360',
 '361,561',
 '(+87%)',
 '5,943,800',
 'PSP',
 '352,884',
 '(+87%)',
 '17,124,390',
 'PS3',
 '103,130',
 '(-50%)',
 '394,937']

### Function get_weekly_hardware_sales

**Date --> weekly hardware sales data**

Given a date from 25th Nov 2006 to 18th Nov 2017, we want to get which week this date is in, and get its corresponding weekly hardware sales data

In [149]:
# date: in datetime format
def get_weekly_hardware_sales(date):
    
    # Get the corresponding weekly_url from input date
    weekly_url = get_weekly_url(date)
    # Create the pool manager
    pool_manager = urllib3.PoolManager()
    
    weekly_response = pool_manager.request('GET', weekly_url)
    weekly_soup = BeautifulSoup(weekly_response.data, "lxml")
    
    # Get the weekly hardware sales table
    weekly_charts = weekly_soup.find_all('table', class_="chart")
    weekly_hardware_sale_table = weekly_charts[2]
    # Get the colume names
    # Columes should be 'Platforms', 'Weekly Sales', 'Weekly Sales Changes', 'Total Sales'
    platforms = []
    weekly_sales = []
    weekly_sales_changes = []
    total_sales = []
    weekly_hardware_sale_cols = [x.text for x in weekly_hardware_sale_table.find_all('th')][:3]
    # Get the rows
    weekly_hardware_sale_rows = weekly_hardware_sale_table.find_all('td', attrs={})
    weekly_hardware_sale_rows = [row.text.strip() for row in weekly_hardware_sale_rows]   
    # Distribute data of diff fields into diff lists
    for i in range(len(weekly_hardware_sale_rows)):
        if i%4 == 0:
            platforms.append(weekly_hardware_sale_rows[i])
        elif i%4 == 1:
            weekly_sales.append(weekly_hardware_sale_rows[i])
        elif i%4 == 2:
            weekly_sales_changes.append(weekly_hardware_sale_rows[i])
        else:
            total_sales.append(weekly_hardware_sale_rows[i])
            
    weekly_hardware_sales_df = pd.DataFrame({'Platforms': platforms, \
                                      'Weekly Sales': weekly_sales, \
                                      'Weekly Sales Changes': weekly_sales_changes, \
                                      'Total Sales': total_sales
                                     })
    return weekly_hardware_sales_df

In [150]:
date = datetime(2007, 11, 20)
get_weekly_hardware_sales(date)

  Platforms Total Sales Weekly Sales Weekly Sales Changes
0        DS  56,338,561    1,353,850              (+105%)
1       Wii  15,192,774      673,069               (+46%)
2       PSP  29,233,466      446,202               (+60%)
3      X360  13,704,598      414,403               (+82%)
4       PS3   6,638,792      376,441               (+46%)

## Part 1: Analyze the Weekly Sales

#### Wii Sales Over Time

From 25th Nov 2006 to 18th Nov 2017

In [184]:
start_date = datetime(2006, 11, 25)
end_date = datetime(2017, 11, 18)

date_p = start_date
wii_sales_date = []
wii_sales = []

while date_p <= end_date:
    
    weekly_hardware_sales = get_weekly_hardware_sales(date_p)
    # Check if Wii is in sale
    if 'Wii' in weekly_hardware_sales['Platforms'].values:
        wii_sales_date.append(date_p)
        wii_sales.append(weekly_hardware_sales[weekly_hardware_sales['Platforms']=='Wii']['Total Sales'].values[0])
    
    date_p += timedelta(7)
    time.sleep(0.5)

In [186]:
wii_sales_df = pd.DataFrame({'Date': wii_sales_date, \
                             'Total Sales': wii_sales \
                                     })
wii_sales_df[-10:]

          Date  Total Sales
466 2015-10-31  100,998,916
467 2015-11-07  100,999,541
468 2015-11-14  101,000,343
469 2015-11-21  101,001,662
470 2015-11-28  101,003,840
471 2015-12-05  101,005,477
472 2015-12-12  101,007,242
473 2015-12-19  101,009,240
474 2015-12-26  101,011,107
475 2016-01-02  101,011,951

In [221]:
wii_sales_df.columns = ['Date', 'Wii Total Sales']
wii_sales_df[-10:]

          Date Wii Total Sales
466 2015-10-31     100,998,916
467 2015-11-07     100,999,541
468 2015-11-14     101,000,343
469 2015-11-21     101,001,662
470 2015-11-28     101,003,840
471 2015-12-05     101,005,477
472 2015-12-12     101,007,242
473 2015-12-19     101,009,240
474 2015-12-26     101,011,107
475 2016-01-02     101,011,951

In [199]:
wii_sales_df.to_csv('./datasets/wii_sales.csv', sep='\t')

#### Wii U Sales Over Time

From 25th Nov 2006 to 18th Nov 2017

In [200]:
start_date = datetime(2012, 11, 17)
end_date = datetime(2017, 11, 18)

date_p = start_date
wiiu_sales_date = []
wiiu_sales = []

while date_p <= end_date:
    
    weekly_hardware_sales = get_weekly_hardware_sales(date_p)
    # Check if WiiU is in sale
    if 'WiiU' in weekly_hardware_sales['Platforms'].values:
        wiiu_sales_date.append(date_p)
        wiiu_sales.append(weekly_hardware_sales[weekly_hardware_sales['Platforms']=='WiiU']['Total Sales'].values[0])
    
    date_p += timedelta(7)
    time.sleep(0.1)

In [203]:
wiiu_sales_df = pd.DataFrame({'Date': wiiu_sales_date, \
                             'Total Sales': wiiu_sales \
                                     })
wiiu_sales_df[-10:]

          Date Total Sales
251 2017-09-16  13,524,328
252 2017-09-23  13,525,073
253 2017-09-30  13,525,810
254 2017-10-07  13,526,483
255 2017-10-14  13,527,170
256 2017-10-21  13,527,821
257 2017-10-28  13,528,454
258 2017-11-04  13,529,045
259 2017-11-11  13,529,611
260 2017-11-18  13,530,264

In [222]:
wiiu_sales_df.columns = ['Date', 'WiiU Total Sales']
wiiu_sales_df[-10:]

          Date WiiU Total Sales
251 2017-09-16       13,524,328
252 2017-09-23       13,525,073
253 2017-09-30       13,525,810
254 2017-10-07       13,526,483
255 2017-10-14       13,527,170
256 2017-10-21       13,527,821
257 2017-10-28       13,528,454
258 2017-11-04       13,529,045
259 2017-11-11       13,529,611
260 2017-11-18       13,530,264

In [204]:
wiiu_sales_df.to_csv('./datasets/wiiu_sales.csv', sep='\t')

#### PS3 Sales Over Time

From 25th Nov 2006 to 18th Nov 2017

In [187]:
start_date = datetime(2006, 11, 25)
end_date = datetime(2017, 11, 18)

date_p = start_date
ps3_sales_date = []
ps3_sales = []

while date_p <= end_date:
    
    weekly_hardware_sales = get_weekly_hardware_sales(date_p)
    # Check if Wii is in sale
    if 'PS3' in weekly_hardware_sales['Platforms'].values:
        ps3_sales_date.append(date_p)
        ps3_sales.append(weekly_hardware_sales[weekly_hardware_sales['Platforms']=='PS3']['Total Sales'].values[0])
    
    date_p += timedelta(7)
    time.sleep(0.1)

In [188]:
PS3_sales_df = pd.DataFrame({'Date': ps3_sales_date, \
                             'Total Sales': ps3_sales \
                                     })
PS3_sales_df[-10:]

          Date Total Sales
564 2017-09-16  86,892,414
565 2017-09-23  86,893,083
566 2017-09-30  86,893,656
567 2017-10-07  86,894,195
568 2017-10-14  86,894,717
569 2017-10-21  86,895,166
570 2017-10-28  86,895,649
571 2017-11-04  86,896,170
572 2017-11-11  86,896,630
573 2017-11-18  86,897,152

In [223]:
PS3_sales_df.columns = ['Date', 'PS3 Total Sales']
PS3_sales_df[-10:]

          Date PS3 Total Sales
564 2017-09-16      86,892,414
565 2017-09-23      86,893,083
566 2017-09-30      86,893,656
567 2017-10-07      86,894,195
568 2017-10-14      86,894,717
569 2017-10-21      86,895,166
570 2017-10-28      86,895,649
571 2017-11-04      86,896,170
572 2017-11-11      86,896,630
573 2017-11-18      86,897,152

In [206]:
PS3_sales_df.to_csv('./datasets/ps3_sales.csv', sep='\t')

#### XBOX 360 Sales Over Time

From 25th Nov 2006 to 18th Nov 2017

In [189]:
start_date = datetime(2006, 11, 25)
end_date = datetime(2017, 11, 18)

date_p = start_date
x360_sales_date = []
x360_sales = []

while date_p <= end_date:
    
    weekly_hardware_sales = get_weekly_hardware_sales(date_p)
    # Check if Wii is in sale
    if 'X360' in weekly_hardware_sales['Platforms'].values:
        x360_sales_date.append(date_p)
        x360_sales.append(weekly_hardware_sales[weekly_hardware_sales['Platforms']=='X360']['Total Sales'].values[0])
    
    date_p += timedelta(7)
    time.sleep(0.1)

In [190]:
x360_sales_df = pd.DataFrame({'Date': x360_sales_date, \
                             'Total Sales': x360_sales \
                                     })
x360_sales_df[-10:]

          Date Total Sales
564 2017-09-16  85,807,263
565 2017-09-23  85,807,742
566 2017-09-30  85,808,186
567 2017-10-07  85,808,639
568 2017-10-14  85,809,123
569 2017-10-21  85,809,603
570 2017-10-28  85,810,055
571 2017-11-04  85,810,486
572 2017-11-11  85,810,862
573 2017-11-18  85,811,280

In [224]:
x360_sales_df.columns = ['Date', 'X360 Total Sales']
x360_sales_df[-10:]

          Date X360 Total Sales
564 2017-09-16       85,807,263
565 2017-09-23       85,807,742
566 2017-09-30       85,808,186
567 2017-10-07       85,808,639
568 2017-10-14       85,809,123
569 2017-10-21       85,809,603
570 2017-10-28       85,810,055
571 2017-11-04       85,810,486
572 2017-11-11       85,810,862
573 2017-11-18       85,811,280

In [207]:
x360_sales_df.to_csv('./datasets/x360_sales.csv', sep='\t')

#### Nintendo Switch Sales Over Time

From 25th Nov 2006 to 18th Nov 2017

In [268]:
start_date = datetime(2013, 8, 17)
end_date = datetime(2017, 11, 18)

date_p = start_date
ns_sales_date = []
ns_sales = []

while date_p <= end_date:
    
    weekly_hardware_sales = get_weekly_hardware_sales(date_p)
    # Check if Wii is in sale
    if 'NS' in weekly_hardware_sales['Platforms'].values:
        ns_sales_date.append(date_p)
        ns_sales.append(weekly_hardware_sales[weekly_hardware_sales['Platforms']=='NS']['Total Sales'].values[0])
    
    date_p += timedelta(7)
    time.sleep(0.01)

In [269]:
ns_sales_df = pd.DataFrame({'Date': ns_sales_date, \
                             'Total Sales': ns_sales \
                                     })
ns_sales_df[-10:]

         Date Total Sales
28 2017-09-16   5,925,303
29 2017-09-23   6,081,881
30 2017-09-30   6,282,240
31 2017-10-07   6,437,927
32 2017-10-14   6,605,881
33 2017-10-21   6,770,056
34 2017-10-28   7,094,564
35 2017-11-04   7,329,519
36 2017-11-11   7,606,357
37 2017-11-18   7,994,004

In [270]:
ns_sales_df.columns = ['Date', 'NS Total Sales']
ns_sales_df[-10:]

         Date NS Total Sales
28 2017-09-16      5,925,303
29 2017-09-23      6,081,881
30 2017-09-30      6,282,240
31 2017-10-07      6,437,927
32 2017-10-14      6,605,881
33 2017-10-21      6,770,056
34 2017-10-28      7,094,564
35 2017-11-04      7,329,519
36 2017-11-11      7,606,357
37 2017-11-18      7,994,004

In [271]:
ns_sales_df.to_csv('./datasets/ns_sales.csv', sep='\t')

#### PS4 Sales Over Time

From 25th Nov 2006 to 18th Nov 2017

In [193]:
start_date = datetime(2013, 6, 1)
end_date = datetime(2017, 11, 18)

date_p = start_date
ps4_sales_date = []
ps4_sales = []

while date_p <= end_date:
    
    weekly_hardware_sales = get_weekly_hardware_sales(date_p)
    # Check if PS4 is in sale
    if 'PS4' in weekly_hardware_sales['Platforms'].values:
        ps4_sales_date.append(date_p)
        ps4_sales.append(weekly_hardware_sales[weekly_hardware_sales['Platforms']=='PS4']['Total Sales'].values[0])
    
    date_p += timedelta(7)
    time.sleep(0.1)

In [195]:
ps4_sales_df = pd.DataFrame({'Date': ps4_sales_date, \
                             'Total Sales': ps4_sales \
                                     })
ps4_sales_df[-10:]

          Date Total Sales
200 2017-09-16  64,352,281
201 2017-09-23  64,609,497
202 2017-09-30  64,909,187
203 2017-10-07  65,177,958
204 2017-10-14  65,442,943
205 2017-10-21  65,750,221
206 2017-10-28  66,031,358
207 2017-11-04  66,490,554
208 2017-11-11  67,170,279
209 2017-11-18  67,977,292

In [226]:
ps4_sales_df.columns = ['Date', 'PS4 Total Sales']
ps4_sales_df[-10:]

          Date PS4 Total Sales
200 2017-09-16      64,352,281
201 2017-09-23      64,609,497
202 2017-09-30      64,909,187
203 2017-10-07      65,177,958
204 2017-10-14      65,442,943
205 2017-10-21      65,750,221
206 2017-10-28      66,031,358
207 2017-11-04      66,490,554
208 2017-11-11      67,170,279
209 2017-11-18      67,977,292

In [209]:
ps4_sales_df.to_csv('./datasets/ps4_sales.csv', sep='\t')

#### XBOX ONE Sales Over Time

From 25th Nov 2006 to 18th Nov 2017

In [196]:
start_date = datetime(2013, 8, 17)
end_date = datetime(2017, 11, 18)

date_p = start_date
xone_sales_date = []
xone_sales = []

while date_p <= end_date:
    
    weekly_hardware_sales = get_weekly_hardware_sales(date_p)
    # Check if PS4 is in sale
    if 'XOne' in weekly_hardware_sales['Platforms'].values:
        xone_sales_date.append(date_p)
        xone_sales.append(weekly_hardware_sales[weekly_hardware_sales['Platforms']=='XOne']['Total Sales'].values[0])
    
    date_p += timedelta(7)
    time.sleep(0.1)

In [265]:
xone_sales_df = pd.DataFrame({'Date': xone_sales_date, \
                             'Total Sales': xone_sales \
                                     })
xone_sales_df[-10:]

          Date Total Sales
199 2017-09-16  30,989,732
200 2017-09-23  31,070,354
201 2017-09-30  31,176,640
202 2017-10-07  31,270,019
203 2017-10-14  31,364,608
204 2017-10-21  31,464,018
205 2017-10-28  31,573,460
206 2017-11-04  31,733,475
207 2017-11-11  32,562,278
208 2017-11-18  33,017,552

In [279]:
xone_sales_df.columns = ['Date', 'XONE Total Sales']
xone_sales_df[-10:]

          Date XONE Total Sales
199 2017-09-16       30,989,732
200 2017-09-23       31,070,354
201 2017-09-30       31,176,640
202 2017-10-07       31,270,019
203 2017-10-14       31,364,608
204 2017-10-21       31,464,018
205 2017-10-28       31,573,460
206 2017-11-04       31,733,475
207 2017-11-11       32,562,278
208 2017-11-18       33,017,552

In [201]:
xone_sales_df.to_csv('./datasets/xone_sales.csv', sep='\t')

List console sales together

In [280]:
sales_df = wii_sales_df.join(wiiu_sales_df.set_index('Date'), on='Date', how='outer')\
            .join(ns_sales_df.set_index('Date'), on='Date', how='outer')\
            .join(PS3_sales_df.set_index('Date'), on='Date', how='outer')\
            .join(ps4_sales_df.set_index('Date'), on='Date', how='outer')\
            .join(x360_sales_df.set_index('Date'), on='Date', how='outer')\
            .join(xone_sales_df.set_index('Date'), on='Date', how='outer')
sales_df = sales_df.fillna('0')
sales_df

,Date,Wii Total Sales,WiiU Total Sales,NS Total Sales,PS3 Total Sales,PS4 Total Sales,X360 Total Sales,XONE Total Sales
0,2006-11-25,"529,658",0,0,"394,937",0,"5,943,800",0
1,2006-12-02,"1,067,537",0,0,"524,687",0,"6,264,980",0
2,2006-12-09,"1,656,510",0,0,"687,424",0,"6,711,905",0
3,2006-12-16,"2,071,242",0,0,"887,425",0,"7,212,617",0
4,2006-12-23,"2,669,210",0,0,"1,078,020",0,"7,783,860",0
5,2006-12-30,"2,954,781",0,0,"1,252,040",0,"7,990,455",0
6,2007-01-06,"3,258,928",0,0,"1,388,651",0,"8,138,246",0
7,2007-01-13,"3,510,426",0,0,"1,478,133",0,"8,261,585",0
8,2007-01-20,"3,755,861",0,0,"1,557,916",0,"8,377,993",0
9,2007-01-27,"4,007,149",0,0,"1,632,136",0,"8,491,072",0
10,2007-02-03,"4,238,167",0,0,"1,702,807",0,"8,601,275",0
11,2007-02-10,"4,459,141",0,0,"1,769,656",0,"8,711,672",0
12,2007-02-17,"4,675,920",0,0,"1,822,853",0,"8,829,162",0
13,2007-02-24,"4,908,832",0,0,"1,872,722",0,"8,937,194",0
14,2007-03-03,"5,109,095",0,0,"1,953,123",0,"9,032,551",0
15,2007-03-10,"5,290,489",0,0,"2,032,557",0,"9,120,160",0
16,2007-03-17,"5,483,691",0,0,"2,090,993",0,"9,207,659",0
17,2007-03-24,"5,682,984",0,0,"2,694,969",0,"9,296,516",0
18,2007-03-31,"5,838,056",0,0,"2,857,375",0,"9,377,518",0
19,2007-04-07,"6,025,248",0,0,"2,975,378",0,"9,450,723",0
20,2007-04-14,"6,232,739",0,0,"3,072,335",0,"9,523,986",0
21,2007-04-21,"6,467,829",0,0,"3,155,468",0,"9,595,044",0
22,2007-04-28,"6,766,286",0,0,"3,233,813",0,"9,688,719",0
23,2007-05-05,"7,056,910",0,0,"3,314,363",0,"9,780,940",0
24,2007-05-12,"7,300,493",0,0,"3,384,764",0,"9,866,384",0
25,2007-05-19,"7,529,767",0,0,"3,449,896",0,"9,942,253",0
26,2007-05-26,"7,770,221",0,0,"3,514,408",0,"10,007,661",0
27,2007-06-02,"8,017,779",0,0,"3,577,682",0,"10,074,140",0
28,2007-06-09,"8,266,516",0,0,"3,636,974",0,"10,155,793",0
29,2007-06-16,"8,521,676",0,0,"3,696,996",0,"10,240,916",0
...,...,...,...,...,...,...,...,...
475,2017-04-29,0,"13,495,297","3,099,681","86,859,102","58,572,737","85,789,944","29,436,654"
475,2017-05-06,0,"13,497,481","3,237,447","86,861,591","58,860,331","85,791,070","29,509,046"
475,2017-05-13,0,"13,499,376","3,348,193","86,863,987","59,151,834","85,792,205","29,582,404"
475,2017-05-20,0,"13,501,189","3,459,533","86,868,434","59,445,267","85,793,325","29,653,655"
475,2017-05-27,0,"13,503,097","3,574,342","86,870,703","59,751,603","85,794,424","29,728,621"
475,2017-06-03,0,"13,504,875","3,685,183","86,873,346","60,070,497","85,795,510","29,809,123"
475,2017-06-10,0,"13,506,530","3,800,258","86,875,722","60,366,899","85,796,622","29,907,137"
475,2017-06-17,0,"13,508,106","3,969,177","86,877,898","60,683,779","85,797,701","29,997,609"
475,2017-06-24,0,"13,509,571","4,089,304","86,879,857","61,017,058","85,798,755","30,090,671"
475,2017-07-01,0,"13,511,107","4,173,413","86,881,731","61,316,630","85,799,818","30,165,742"
475,2017-07-08,0,"13,512,490","4,286,496","86,883,018","61,586,235","85,800,687","30,235,144"
475,2017-07-15,0,"13,513,728","4,406,305","86,884,198","61,864,113","85,801,451","30,305,467"
475,2017-07-22,0,"13,515,085","4,656,475","86,885,333","62,120,242","85,802,177","30,375,018"
475,2017-07-29,0,"13,516,342","4,832,471","86,886,386","62,488,636","85,802,882","30,444,947"
475,2017-08-05,0,"13,517,552","4,982,428","86,887,320","62,751,271","85,803,563","30,517,905"
475,2017-08-12,0,"13,518,789","5,163,439","86,888,208","63,011,296","85,804,225","30,587,140"
475,2017-08-19,0,"13,520,016","5,286,392","86,889,115","63,264,239","85,804,879","30,654,217"
475,2017-08-26,0,"13,521,197","5,456,332","86,890,042","63,524,584","85,805,534","30,727,186"
475,2017-09-02,0,"13,522,337","5,612,527","86,890,888","63,786,781","85,806,141","30,803,962"
475,2017-09-09,0,"13,523,393","5,767,533","86,891,684","64,086,792","85,806,713","30,906,012"
475,2017-09-16,0,"13,524,328","5,925,303","86,892,414","64,352,281","85,807,263","30,989,732"
475,2017-09-23,0,"13,525,073","6,081,881","86,893,083","64,609,497","85,807,742","31,070,354"
475,2017-09-30,0,"13,525,810","6,282,240","86,893,656","64,909,187","85,808,186","31,176,640"
475,2017-10-07,0,"13,526,483","6,437,927","86,894,195","65,177,958","85,808,639","31,270,019"
475,2017-10-14,0,"13,527,170","6,605,881","86,894,717","65,442,943","85,809,123","31,364,608"
475,2017-10-21,0,"13,527,821","6,770,056","86,895,166","65,750,221","85,809,603","31,464,018"
475,2017-10-28,0,"13,528,454","7,094,564","86,895,649","66,031,358","85,810,055","31,573,460"
475,2017-11-04,0,"13,529,045","7,329,519","86,896,170","66,490,554","85,810,486","31,733,475"
475,2017-11-11,0,"13,529,611","7,606,357","86,896,630","67,170,279","85,810,862","32,562,278"
475,2017-11-18,0,"13,530,264","7,994,004","86,897,152","67,977,292","85,811,280","33,017,552"

In [283]:
sales_df['Wii Total Sales'] = sales_df['Wii Total Sales'].apply(lambda x: int(str(x).replace(',', '')))
sales_df['WiiU Total Sales'] = sales_df['WiiU Total Sales'].apply(lambda x: int(str(x).replace(',', '')))
sales_df['NS Total Sales'] = sales_df['NS Total Sales'].apply(lambda x: int(str(x).replace(',', '')))
sales_df['PS3 Total Sales'] = sales_df['PS3 Total Sales'].apply(lambda x: int(str(x).replace(',', '')))
sales_df['PS4 Total Sales'] = sales_df['PS4 Total Sales'].apply(lambda x: int(str(x).replace(',', '')))
sales_df['X360 Total Sales'] = sales_df['X360 Total Sales'].apply(lambda x: int(str(x).replace(',', '')))
sales_df['XONE Total Sales'] = sales_df['XONE Total Sales'].apply(lambda x: int(str(x).replace(',', '')))
sales_df['Total Sales'] = sales_df['Wii Total Sales'] + sales_df['WiiU Total Sales'] +\
                          sales_df['PS3 Total Sales'] + sales_df['PS4 Total Sales'] +\
                          sales_df['X360 Total Sales'] + sales_df['XONE Total Sales']
sales_df['Nintendo Total Sales'] = sales_df['Wii Total Sales'] + sales_df['WiiU Total Sales'] + 
sales_df['Sony Total Sales'] = sales_df['PS3 Total Sales'] + sales_df['PS4 Total Sales']
sales_df['Microsoft Total Sales'] = sales_df['X360 Total Sales'] + sales_df['XONE Total Sales']

sales_df

,Date,Wii Total Sales,WiiU Total Sales,NS Total Sales,PS3 Total Sales,PS4 Total Sales,X360 Total Sales,XONE Total Sales,Total Sales,Nintendo Total Sales,Sony Total Sales,Microsoft Total Sales
0,2006-11-25,529658,0,0,394937,0,5943800,0,6868395,529658,394937,5943800
1,2006-12-02,1067537,0,0,524687,0,6264980,0,7857204,1067537,524687,6264980
2,2006-12-09,1656510,0,0,687424,0,6711905,0,9055839,1656510,687424,6711905
3,2006-12-16,2071242,0,0,887425,0,7212617,0,10171284,2071242,887425,7212617
4,2006-12-23,2669210,0,0,1078020,0,7783860,0,11531090,2669210,1078020,7783860
5,2006-12-30,2954781,0,0,1252040,0,7990455,0,12197276,2954781,1252040,7990455
6,2007-01-06,3258928,0,0,1388651,0,8138246,0,12785825,3258928,1388651,8138246
7,2007-01-13,3510426,0,0,1478133,0,8261585,0,13250144,3510426,1478133,8261585
8,2007-01-20,3755861,0,0,1557916,0,8377993,0,13691770,3755861,1557916,8377993
9,2007-01-27,4007149,0,0,1632136,0,8491072,0,14130357,4007149,1632136,8491072
10,2007-02-03,4238167,0,0,1702807,0,8601275,0,14542249,4238167,1702807,8601275
11,2007-02-10,4459141,0,0,1769656,0,8711672,0,14940469,4459141,1769656,8711672
12,2007-02-17,4675920,0,0,1822853,0,8829162,0,15327935,4675920,1822853,8829162
13,2007-02-24,4908832,0,0,1872722,0,8937194,0,15718748,4908832,1872722,8937194
14,2007-03-03,5109095,0,0,1953123,0,9032551,0,16094769,5109095,1953123,9032551
15,2007-03-10,5290489,0,0,2032557,0,9120160,0,16443206,5290489,2032557,9120160
16,2007-03-17,5483691,0,0,2090993,0,9207659,0,16782343,5483691,2090993,9207659
17,2007-03-24,5682984,0,0,2694969,0,9296516,0,17674469,5682984,2694969,9296516
18,2007-03-31,5838056,0,0,2857375,0,9377518,0,18072949,5838056,2857375,9377518
19,2007-04-07,6025248,0,0,2975378,0,9450723,0,18451349,6025248,2975378,9450723
20,2007-04-14,6232739,0,0,3072335,0,9523986,0,18829060,6232739,3072335,9523986
21,2007-04-21,6467829,0,0,3155468,0,9595044,0,19218341,6467829,3155468,9595044
22,2007-04-28,6766286,0,0,3233813,0,9688719,0,19688818,6766286,3233813,9688719
23,2007-05-05,7056910,0,0,3314363,0,9780940,0,20152213,7056910,3314363,9780940
24,2007-05-12,7300493,0,0,3384764,0,9866384,0,20551641,7300493,3384764,9866384
25,2007-05-19,7529767,0,0,3449896,0,9942253,0,20921916,7529767,3449896,9942253
26,2007-05-26,7770221,0,0,3514408,0,10007661,0,21292290,7770221,3514408,10007661
27,2007-06-02,8017779,0,0,3577682,0,10074140,0,21669601,8017779,3577682,10074140
28,2007-06-09,8266516,0,0,3636974,0,10155793,0,22059283,8266516,3636974,10155793
29,2007-06-16,8521676,0,0,3696996,0,10240916,0,22459588,8521676,3696996,10240916
...,...,...,...,...,...,...,...,...,...,...,...,...
475,2017-04-29,0,13495297,"3,099,681",86859102,58572737,85789944,29436654,274153734,13495297,145431839,115226598
475,2017-05-06,0,13497481,"3,237,447",86861591,58860331,85791070,29509046,274519519,13497481,145721922,115300116
475,2017-05-13,0,13499376,"3,348,193",86863987,59151834,85792205,29582404,274889806,13499376,146015821,115374609
475,2017-05-20,0,13501189,"3,459,533",86868434,59445267,85793325,29653655,275261870,13501189,146313701,115446980
475,2017-05-27,0,13503097,"3,574,342",86870703,59751603,85794424,29728621,275648448,13503097,146622306,115523045
475,2017-06-03,0,13504875,"3,685,183",86873346,60070497,85795510,29809123,276053351,13504875,146943843,115604633
475,2017-06-10,0,13506530,"3,800,258",86875722,60366899,85796622,29907137,276452910,13506530,147242621,115703759
475,2017-06-17,0,13508106,"3,969,177",86877898,60683779,85797701,29997609,276865093,13508106,147561677,115795310
475,2017-06-24,0,13509571,"4,089,304",86879857,61017058,85798755,30090671,277295912,13509571,147896915,115889426
475,2017-07-01,0,13511107,"4,173,413",86881731,61316630,85799818,30165742,277675028,13511107,148198361,115965560
475,2017-07-08,0,13512490,"4,286,496",86883018,61586235,85800687,30235144,278017574,13512490,148469253,116035831
475,2017-07-15,0,13513728,"4,406,305",86884198,61864113,85801451,30305467,278368957,13513728,148748311,116106918
475,2017-07-22,0,13515085,"4,656,475",86885333,62120242,85802177,30375018,278697855,13515085,149005575,116177195
475,2017-07-29,0,13516342,"4,832,471",86886386,62488636,85802882,30444947,279139193,13516342,149375022,116247829
475,2017-08-05,0,13517552,"4,982,428",86887320,62751271,85803563,30517905,279477611,13517552,149638591,116321468
475,2017-08-12,0,13518789,"5,163,439",86888208,63011296,85804225,30587140,279809658,13518789,149899504,116391365
475,2017-08-19,0,13520016,"5,286,392",86889115,63264239,85804879,30654217,280132466,13520016,150153354,116459096
475,2017-08-26,0,13521197,"5,456,332",86890042,63524584,85805534,30727186,280468543,13521197,150414626,116532720
475,2017-09-02,0,13522337,"5,612,527",86890888,63786781,85806141,30803962,280810109,13522337,150677669,116610103
475,2017-09-09,0,13523393,"5,767,533",86891684,64086792,85806713,30906012,281214594,13523393,150978476,116712725
475,2017-09-16,0,13524328,"5,925,303",86892414,64352281,85807263,30989732,281566018,13524328,151244695,116796995
475,2017-09-23,0,13525073,"6,081,881",86893083,64609497,85807742,31070354,281905749,13525073,151502580,116878096
475,2017-09-30,0,13525810,"6,282,240",86893656,64909187,85808186,31176640,282313479,13525810,151802843,116984826
475,2017-10-07,0,13526483,"6,437,927",86894195,65177958,85808639,31270019,282677294,13526483,152072153,117078658
475,2017-10-14,0,13527170,"6,605,881",86894717,65442943,85809123,31364608,283038561,13527170,152337660,117173731
475,2017-10-21,0,13527821,"6,770,056",86895166,65750221,85809603,31464018,283446829,13527821,152645387,117273621
475,2017-10-28,0,13528454,"7,094,564",86895649,66031358,85810055,31573460,283838976,13528454,152927007,117383515
475,2017-11-04,0,13529045,"7,329,519",86896170,66490554,85810486,31733475,284459730,13529045,153386724,117543961
475,2017-11-11,0,13529611,"7,606,357",86896630,67170279,85810862,32562278,285969660,13529611,154066909,118373140
475,2017-11-18,0,13530264,"7,994,004",86897152,67977292,85811280,33017552,287233540,13530264,154874444,118828832

In [287]:
sales_df['Nintendo Share'] = sales_df['Nintendo Total Sales'] / sales_df['Total Sales']
sales_df['Sony Share'] = sales_df['Sony Total Sales'] / sales_df['Total Sales']
sales_df['Microsoft Share'] = sales_df['Microsoft Total Sales'] / sales_df['Total Sales']
sales_df

,Date,Wii Total Sales,WiiU Total Sales,NS Total Sales,PS3 Total Sales,PS4 Total Sales,X360 Total Sales,XONE Total Sales,Total Sales,Nintendo Total Sales,Sony Total Sales,Microsoft Total Sales,Nintendo Share,Sony Share,Microsoft Share
0,2006-11-25,529658,0,0,394937,0,5943800,0,6868395,529658,394937,5943800,0.077115,0.057501,0.865384
1,2006-12-02,1067537,0,0,524687,0,6264980,0,7857204,1067537,524687,6264980,0.135867,0.066778,0.797355
2,2006-12-09,1656510,0,0,687424,0,6711905,0,9055839,1656510,687424,6711905,0.182922,0.075909,0.741169
3,2006-12-16,2071242,0,0,887425,0,7212617,0,10171284,2071242,887425,7212617,0.203636,0.087248,0.709116
4,2006-12-23,2669210,0,0,1078020,0,7783860,0,11531090,2669210,1078020,7783860,0.231479,0.093488,0.675032
5,2006-12-30,2954781,0,0,1252040,0,7990455,0,12197276,2954781,1252040,7990455,0.242249,0.102649,0.655102
6,2007-01-06,3258928,0,0,1388651,0,8138246,0,12785825,3258928,1388651,8138246,0.254886,0.108609,0.636505
7,2007-01-13,3510426,0,0,1478133,0,8261585,0,13250144,3510426,1478133,8261585,0.264935,0.111556,0.623509
8,2007-01-20,3755861,0,0,1557916,0,8377993,0,13691770,3755861,1557916,8377993,0.274315,0.113785,0.611900
9,2007-01-27,4007149,0,0,1632136,0,8491072,0,14130357,4007149,1632136,8491072,0.283584,0.115506,0.600910
10,2007-02-03,4238167,0,0,1702807,0,8601275,0,14542249,4238167,1702807,8601275,0.291438,0.117094,0.591468
11,2007-02-10,4459141,0,0,1769656,0,8711672,0,14940469,4459141,1769656,8711672,0.298461,0.118447,0.583092
12,2007-02-17,4675920,0,0,1822853,0,8829162,0,15327935,4675920,1822853,8829162,0.305059,0.118924,0.576018
13,2007-02-24,4908832,0,0,1872722,0,8937194,0,15718748,4908832,1872722,8937194,0.312292,0.119139,0.568569
14,2007-03-03,5109095,0,0,1953123,0,9032551,0,16094769,5109095,1953123,9032551,0.317438,0.121351,0.561210
15,2007-03-10,5290489,0,0,2032557,0,9120160,0,16443206,5290489,2032557,9120160,0.321743,0.123611,0.554646
16,2007-03-17,5483691,0,0,2090993,0,9207659,0,16782343,5483691,2090993,9207659,0.326754,0.124595,0.548652
17,2007-03-24,5682984,0,0,2694969,0,9296516,0,17674469,5682984,2694969,9296516,0.321536,0.152478,0.525986
18,2007-03-31,5838056,0,0,2857375,0,9377518,0,18072949,5838056,2857375,9377518,0.323027,0.158102,0.518870
19,2007-04-07,6025248,0,0,2975378,0,9450723,0,18451349,6025248,2975378,9450723,0.326548,0.161255,0.512197
20,2007-04-14,6232739,0,0,3072335,0,9523986,0,18829060,6232739,3072335,9523986,0.331017,0.163170,0.505813
21,2007-04-21,6467829,0,0,3155468,0,9595044,0,19218341,6467829,3155468,9595044,0.336545,0.164190,0.499265
22,2007-04-28,6766286,0,0,3233813,0,9688719,0,19688818,6766286,3233813,9688719,0.343661,0.164246,0.492092
23,2007-05-05,7056910,0,0,3314363,0,9780940,0,20152213,7056910,3314363,9780940,0.350180,0.164466,0.485353
24,2007-05-12,7300493,0,0,3384764,0,9866384,0,20551641,7300493,3384764,9866384,0.355227,0.164696,0.480078
25,2007-05-19,7529767,0,0,3449896,0,9942253,0,20921916,7529767,3449896,9942253,0.359899,0.164894,0.475208
26,2007-05-26,7770221,0,0,3514408,0,10007661,0,21292290,7770221,3514408,10007661,0.364931,0.165055,0.470013
27,2007-06-02,8017779,0,0,3577682,0,10074140,0,21669601,8017779,3577682,10074140,0.370001,0.165101,0.464897
28,2007-06-09,8266516,0,0,3636974,0,10155793,0,22059283,8266516,3636974,10155793,0.374741,0.164873,0.460386
29,2007-06-16,8521676,0,0,3696996,0,10240916,0,22459588,8521676,3696996,10240916,0.379423,0.164607,0.455971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2017-04-29,0,13495297,"3,099,681",86859102,58572737,85789944,29436654,274153734,13495297,145431839,115226598,0.049225,0.530475,0.420299
475,2017-05-06,0,13497481,"3,237,447",86861591,58860331,85791070,29509046,274519519,13497481,145721922,115300116,0.049168,0.530825,0.420007
475,2017-05-13,0,13499376,"3,348,193",86863987,59151834,85792205,29582404,274889806,13499376,146015821,115374609,0.049108,0.531179,0.419712
475,2017-05-20,0,13501189,"3,459,533",86868434,59445267,85793325,29653655,275261870,13501189,146313701,115446980,0.049049,0.531544,0.419408
475,2017-05-27,0,13503097,"3,574,342",86870703,59751603,85794424,29728621,275648448,13503097,146622306,115523045,0.048987,0.531918,0.419096
475,2017-06-03,0,13504875,"3,685,183",86873346,60070497,85795510,29809123,276053351,13504875,146943843,115604633,0.048921,0.532302,0.418776
475,2017-06-10,0,13506530,"3,800,258",86875722,60366899,85796622,29907137,276452910,13506530,147242621,115703759,0.048857,0.532614,0.418530
475,2017-06-17,0,13508106,"3,969,177",86877898,60683779,85797701,29997609,276865093,13508106,147561677,115795310,0.048789,0.532973,0.418237
475,2017-06-24,0,13509571,"4,089,304",86879857,61017058,85798755,30090671,277295912,13509571,147896915,115889426,0.048719,0.533354,0.417927
475,2017-07-01,0,13511107,"4,173,413",86881731,61316630,85799818,30165742,277675028,13511107,148198361,115965560,0.048658,0.533712,0.417630
475,2017-07-08,0,13512490,"4,286,496",86883018,61586235,85800687,30235144,278017574,13512490,148469253,116035831,0.048603,0.534028,0.417369
475,2017-07-15,0,13513728,"4,406,305",86884198,61864113,85801451,30305467,278368957,13513728,148748311,116106918,0.048546,0.534357,0.417097
475,2017-07-22,0,13515085,"4,656,475",86885333,62120242,85802177,30375018,278697855,13515085,149005575,116177195,0.048494,0.534649,0.416857
475,2017-07-29,0,13516342,"4,832,471",86886386,62488636,85802882,30444947,279139193,13516342,149375022,116247829,0.048422,0.535127,0.416451
475,2017-08-05,0,13517552,"4,982,428",86887320,62751271,85803563,30517905,279477611,13517552,149638591,116321468,0.048367,0.535422,0.416210
475,2017-08-12,0,13518789,"5,163,439",86888208,63011296,85804225,30587140,279809658,13518789,149899504,116391365,0.048314,0.535720,0.415966
475,2017-08-19,0,13520016,"5,286,392",86889115,63264239,85804879,30654217,280132466,13520016,150153354,116459096,0.048263,0.536008,0.415729
475,2017-08-26,0,13521197,"5,456,332",86890042,63524584,85805534,30727186,280468543,13521197,150414626,116532720,0.048209,0.536298,0.415493
475,2017-09-02,0,13522337,"5,612,527",86890888,63786781,85806141,30803962,280810109,13522337,150677669,116610103,0.048155,0.536582,0.415263
475,2017-09-09,0,13523393,"5,767,533",86891684,64086792,85806713,30906012,281214594,13523393,150978476,116712725,0.048089,0.536880,0.415031
475,2017-09-16,0,13524328,"5,925,303",86892414,64352281,85807263,30989732,281566018,13524328,151244695,116796995,0.048033,0.537155,0.414812
475,2017-09-23,0,13525073,"6,081,881",86893083,64609497,85807742,31070354,281905749,13525073,151502580,116878096,0.047977,0.537423,0.414600
475,2017-09-30,0,13525810,"6,282,240",86893656,64909187,85808186,31176640,282313479,13525810,151802843,116984826,0.047911,0.537710,0.414379
475,2017-10-07,0,13526483,"6,437,927",86894195,65177958,85808639,31270019,282677294,13526483,152072153,117078658,0.047851,0.537971,0.414178
475,2017-10-14,0,13527170,"6,605,881",86894717,65442943,85809123,31364608,283038561,13527170,152337660,117173731,0.047793,0.538222,0.413985
475,2017-10-21,0,13527821,"6,770,056",86895166,65750221,85809603,31464018,283446829,13527821,152645387,117273621,0.047726,0.538533,0.413741
475,2017-10-28,0,13528454,"7,094,564",86895649,66031358,85810055,31573460,283838976,13528454,152927007,117383515,0.047662,0.538781,0.413557
475,2017-11-04,0,13529045,"7,329,519",86896170,66490554,85810486,31733475,284459730,13529045,153386724,117543961,0.047560,0.539221,0.413218
475,2017-11-11,0,13529611,"7,606,357",86896630,67170279,85810862,32562278,285969660,13529611,154066909,118373140,0.047311,0.538753,0.413936
475,2017-11-18,0,13530264,"7,994,004",86897152,67977292,85811280,33017552,287233540,13530264,154874444,118828832,0.047105,0.539193,0.413701

In [298]:
sony_share_df = sales_df['Sony Share']
sony_share = sony_share_df.values.tolist()

In [302]:
microsoft_share_df = sales_df['Microsoft Share']
microsoft_share = microsoft_share_df.values.tolist()
nintendo_share_df = sales_df['Nintendo Share']
nintendo_share = nintendo_share_df.values.tolist()

In [303]:
print(len(sony_share))
print(len(microsoft_share))
print(len(nintendo_share))

574
574
574

In [301]:
sony_share_per_num = [round(x*100, 1) for x in sony_share]
print(sony_share_per_num)

[5.8, 6.7, 7.6, 8.7, 9.3, 10.3, 10.9, 11.2, 11.4, 11.6, 11.7, 11.8, 11.9, 11.9, 12.1, 12.4, 12.5, 15.2, 15.8, 16.1, 16.3, 16.4, 16.4, 16.4, 16.5, 16.5, 16.5, 16.5, 16.5, 16.5, 16.4, 16.4, 16.4, 16.5, 16.6, 16.7, 16.9, 16.9, 17.0, 17.0, 17.1, 17.1, 17.1, 17.1, 17.1, 17.1, 17.3, 17.5, 17.6, 17.8, 18.1, 18.4, 18.7, 19.0, 19.5, 20.0, 20.3, 20.6, 20.8, 21.0, 21.1, 21.2, 21.3, 21.4, 21.5, 21.6, 21.7, 21.7, 21.8, 21.8, 21.9, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.1, 22.0, 22.0, 22.0, 22.2, 22.3, 22.3, 22.3, 22.3, 22.3, 22.3, 22.3, 22.2, 22.3, 22.3, 22.4, 22.4, 22.4, 22.4, 22.4, 22.4, 22.4, 22.3, 22.3, 22.3, 22.3, 22.2, 22.1, 21.9, 21.9, 21.8, 21.7, 21.7, 21.7, 21.8, 21.8, 21.8, 21.8, 21.8, 21.8, 21.8, 21.8, 21.9, 21.9, 21.9, 21.9, 22.0, 22.0, 22.0, 22.0, 22.0, 22.1, 22.1, 22.1, 22.1, 22.1, 22.1, 22.1, 22.1, 22.2, 22.2, 22.2, 22.2, 22.2, 22.2, 22.2, 22.2, 22.3, 22.7, 22.8, 23.0, 23.1, 23.2, 23.3, 23.4, 23.4, 23.5, 23.6, 23.7, 23.7, 23.9, 23.9, 24.0, 24.1, 24.2, 24.3, 24.4, 24.5, 24.5, 24.6, 24.6, 24.6, 24.7, 24.7, 24.8, 24.8, 24.9, 24.9, 25.0, 25.0, 25.1, 25.1, 25.1, 25.2, 25.2, 25.2, 25.2, 25.2, 25.3, 25.3, 25.3, 25.3, 25.4, 25.4, 25.4, 25.4, 25.4, 25.5, 25.5, 25.5, 25.5, 25.6, 25.6, 25.6, 25.7, 25.7, 25.8, 25.8, 25.9, 25.9, 25.9, 25.9, 25.9, 26.0, 26.0, 26.0, 25.9, 26.0, 26.1, 26.1, 26.2, 26.2, 26.2, 26.3, 26.3, 26.4, 26.4, 26.4, 26.5, 26.5, 26.5, 26.6, 26.6, 26.6, 26.7, 26.7, 26.7, 26.7, 26.7, 26.7, 26.7, 26.8, 26.8, 26.8, 26.8, 26.9, 26.9, 26.9, 26.9, 27.0, 27.0, 27.0, 27.1, 27.2, 27.2, 27.3, 27.3, 27.4, 27.4, 27.4, 27.5, 27.5, 27.6, 27.6, 27.6, 27.6, 27.7, 27.7, 27.8, 27.9, 27.9, 28.0, 28.0, 28.0, 28.1, 28.1, 28.1, 28.2, 28.2, 28.3, 28.3, 28.3, 28.4, 28.4, 28.4, 28.5, 28.5, 28.5, 28.5, 28.6, 28.6, 28.6, 28.6, 28.6, 28.7, 28.7, 28.7, 28.7, 28.8, 28.8, 28.8, 28.8, 28.8, 28.9, 28.9, 28.9, 28.9, 28.9, 29.0, 29.0, 29.1, 29.1, 29.1, 29.2, 29.2, 29.3, 29.2, 29.3, 29.3, 29.3, 29.3, 29.3, 29.4, 29.4, 29.4, 29.4, 29.5, 29.5, 29.5, 29.5, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.8, 29.8, 29.8, 29.8, 29.8, 29.8, 29.9, 29.9, 29.9, 29.9, 29.9, 29.9, 29.9, 29.9, 30.0, 30.0, 30.0, 30.1, 30.1, 30.1, 30.1, 30.1, 30.2, 30.2, 30.2, 30.5, 30.4, 30.6, 30.7, 30.7, 30.9, 31.0, 31.1, 31.1, 31.2, 31.2, 31.3, 31.3, 31.3, 31.5, 31.5, 31.5, 31.6, 31.6, 31.7, 31.7, 31.8, 31.8, 31.8, 31.9, 31.9, 31.9, 32.0, 32.0, 32.0, 32.1, 32.1, 32.1, 32.2, 32.2, 32.2, 32.2, 32.3, 32.3, 32.3, 32.4, 32.4, 32.4, 32.5, 32.6, 32.7, 32.7, 32.8, 32.9, 32.9, 32.9, 33.0, 33.1, 33.1, 33.2, 33.3, 33.4, 33.5, 33.6, 33.6, 33.7, 33.7, 33.7, 33.8, 33.8, 33.8, 33.9, 33.9, 34.0, 34.0, 34.1, 34.1, 34.2, 34.2, 34.3, 34.3, 34.3, 34.3, 34.4, 34.4, 34.4, 34.4, 34.5, 34.5, 34.5, 34.6, 34.6, 34.6, 34.7, 34.7, 34.7, 34.7, 34.7, 34.8, 34.8, 34.9, 34.9, 34.9, 35.0, 35.0, 35.0, 35.1, 35.1, 35.2, 35.3, 35.4, 35.5, 35.6, 35.7, 35.8, 36.0, 36.0, 51.2, 51.2, 51.2, 51.3, 51.3, 51.3, 51.4, 51.4, 51.4, 51.4, 51.5, 51.5, 51.5, 51.5, 51.5, 51.5, 51.6, 51.6, 51.4, 51.4, 51.5, 51.5, 51.5, 51.5, 51.5, 51.5, 51.6, 51.6, 51.6, 51.6, 51.6, 51.6, 51.6, 51.6, 51.6, 51.7, 51.7, 51.7, 51.8, 51.8, 51.8, 51.8, 51.9, 51.9, 52.0, 52.1, 52.1, 52.2, 52.3, 52.3, 52.4, 52.5, 52.5, 52.5, 52.6, 52.6, 52.6, 52.7, 52.7, 52.8, 52.8, 52.8, 52.9, 52.9, 52.9, 53.0, 53.0, 53.0, 53.0, 53.1, 53.1, 53.2, 53.2, 53.2, 53.3, 53.3, 53.3, 53.4, 53.4, 53.4, 53.5, 53.5, 53.5, 53.6, 53.6, 53.6, 53.7, 53.7, 53.7, 53.7, 53.8, 53.8, 53.8, 53.9, 53.9, 53.9, 53.9, 53.9]

In [304]:
microsoft_share_per_num = [round(x*100, 1) for x in microsoft_share]
print(microsoft_share_per_num)

[86.5, 79.7, 74.1, 70.9, 67.5, 65.5, 63.7, 62.4, 61.2, 60.1, 59.1, 58.3, 57.6, 56.9, 56.1, 55.5, 54.9, 52.6, 51.9, 51.2, 50.6, 49.9, 49.2, 48.5, 48.0, 47.5, 47.0, 46.5, 46.0, 45.6, 45.2, 44.7, 44.3, 43.7, 43.2, 42.6, 42.2, 41.8, 41.4, 41.2, 40.9, 40.7, 40.5, 40.5, 40.5, 40.6, 40.5, 40.2, 39.9, 39.7, 39.4, 39.0, 38.6, 38.0, 37.5, 37.1, 36.1, 35.7, 35.4, 35.3, 35.1, 34.9, 34.7, 34.5, 34.4, 34.3, 34.1, 33.9, 33.8, 33.6, 33.5, 33.3, 33.1, 32.9, 32.8, 32.5, 32.4, 32.3, 32.0, 31.9, 31.8, 31.6, 31.4, 31.2, 31.1, 30.9, 30.9, 30.8, 30.7, 30.7, 30.6, 30.5, 30.4, 30.3, 30.3, 30.3, 30.3, 30.3, 30.2, 30.2, 30.2, 30.1, 30.1, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 29.9, 29.9, 29.8, 29.8, 29.8, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.6, 29.6, 29.6, 29.6, 29.6, 29.5, 29.5, 29.5, 29.5, 29.5, 29.5, 29.5, 29.5, 29.5, 29.5, 29.5, 29.5, 29.4, 29.4, 29.4, 29.4, 29.4, 29.3, 29.2, 29.2, 29.2, 29.1, 29.0, 29.0, 28.9, 28.8, 28.8, 28.9, 28.8, 28.7, 28.5, 28.3, 28.1, 27.9, 27.7, 27.7, 27.6, 27.6, 27.6, 27.6, 27.6, 27.6, 27.6, 27.5, 27.5, 27.5, 27.5, 27.5, 27.4, 27.4, 27.4, 27.4, 27.4, 27.4, 27.4, 27.3, 27.3, 27.3, 27.3, 27.4, 27.4, 27.4, 27.6, 27.6, 27.6, 27.7, 27.7, 27.7, 27.8, 27.8, 27.8, 27.9, 27.9, 27.9, 27.9, 28.0, 28.0, 28.0, 28.0, 28.1, 28.2, 28.2, 28.2, 28.2, 28.3, 28.4, 28.4, 28.4, 28.4, 28.4, 28.4, 28.4, 28.4, 28.5, 28.5, 28.5, 28.5, 28.5, 28.5, 28.5, 28.5, 28.5, 28.5, 28.6, 28.6, 28.6, 28.6, 28.6, 28.6, 28.6, 28.6, 28.6, 28.6, 28.6, 28.7, 28.7, 28.7, 28.7, 28.7, 28.7, 28.7, 28.7, 28.7, 28.7, 28.7, 28.7, 28.7, 28.7, 28.8, 28.8, 28.8, 28.9, 29.0, 29.2, 29.3, 29.4, 29.5, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.6, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.7, 29.8, 29.8, 29.8, 29.8, 29.8, 29.8, 29.8, 29.8, 29.8, 29.8, 29.9, 29.9, 29.9, 29.9, 29.9, 29.9, 30.0, 30.1, 30.2, 30.2, 30.2, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.4, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.2, 30.5, 30.6, 30.6, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.6, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.5, 30.6, 30.6, 30.7, 30.8, 30.8, 30.8, 30.9, 30.9, 30.9, 30.9, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.7, 30.8, 30.8, 30.8, 30.8, 30.8, 30.8, 43.7, 43.6, 43.6, 43.6, 43.5, 43.5, 43.5, 43.4, 43.4, 43.4, 43.3, 43.3, 43.3, 43.3, 43.2, 43.2, 43.2, 43.2, 43.4, 43.4, 43.3, 43.3, 43.3, 43.3, 43.3, 43.2, 43.2, 43.2, 43.2, 43.2, 43.2, 43.2, 43.1, 43.1, 43.1, 43.1, 43.1, 43.1, 43.0, 43.0, 43.0, 43.0, 43.0, 42.9, 42.8, 42.8, 42.8, 42.7, 42.7, 42.6, 42.6, 42.5, 42.5, 42.4, 42.4, 42.4, 42.4, 42.3, 42.3, 42.3, 42.2, 42.2, 42.2, 42.2, 42.1, 42.1, 42.1, 42.1, 42.0, 42.0, 42.0, 41.9, 41.9, 41.9, 41.9, 41.8, 41.8, 41.8, 41.7, 41.7, 41.7, 41.6, 41.6, 41.6, 41.6, 41.5, 41.5, 41.5, 41.5, 41.5, 41.4, 41.4, 41.4, 41.4, 41.4, 41.3, 41.4, 41.4]

In [306]:
nintendo_share_per_num = [round(x*100, 1) for x in nintendo_share]
print(nintendo_share_per_num)

[7.7, 13.6, 18.3, 20.4, 23.1, 24.2, 25.5, 26.5, 27.4, 28.4, 29.1, 29.8, 30.5, 31.2, 31.7, 32.2, 32.7, 32.2, 32.3, 32.7, 33.1, 33.7, 34.4, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 37.9, 38.4, 38.9, 39.3, 39.8, 40.3, 40.6, 41.0, 41.3, 41.6, 41.8, 42.0, 42.2, 42.3, 42.4, 42.3, 42.3, 42.2, 42.3, 42.5, 42.5, 42.4, 42.6, 42.8, 43.0, 43.1, 42.9, 43.6, 43.8, 43.8, 43.7, 43.8, 43.9, 44.0, 44.1, 44.1, 44.2, 44.3, 44.3, 44.4, 44.6, 44.6, 44.8, 44.9, 45.1, 45.2, 45.5, 45.6, 45.7, 46.0, 46.1, 46.3, 46.2, 46.3, 46.5, 46.6, 46.7, 46.8, 47.0, 47.0, 47.1, 47.2, 47.2, 47.3, 47.3, 47.3, 47.4, 47.4, 47.4, 47.4, 47.5, 47.5, 47.6, 47.6, 47.7, 47.9, 48.1, 48.1, 48.2, 48.4, 48.3, 48.3, 48.3, 48.3, 48.3, 48.4, 48.4, 48.5, 48.5, 48.5, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.4, 48.3, 48.3, 48.3, 48.4, 48.4, 48.4, 48.4, 48.4, 48.1, 47.9, 47.8, 47.7, 47.7, 47.7, 47.7, 47.7, 47.6, 47.6, 47.4, 47.4, 47.4, 47.6, 47.7, 47.8, 47.9, 47.9, 47.9, 47.9, 47.9, 47.8, 47.8, 47.8, 47.7, 47.7, 47.7, 47.6, 47.6, 47.6, 47.5, 47.5, 47.5, 47.5, 47.5, 47.5, 47.4, 47.4, 47.4, 47.4, 47.4, 47.4, 47.3, 47.2, 47.2, 47.1, 47.0, 46.9, 46.9, 46.8, 46.8, 46.7, 46.7, 46.6, 46.6, 46.5, 46.4, 46.3, 46.3, 46.2, 46.1, 46.1, 46.0, 45.9, 45.8, 45.8, 45.8, 45.8, 45.7, 45.6, 45.6, 45.5, 45.5, 45.4, 45.4, 45.3, 45.2, 45.2, 45.1, 45.1, 45.0, 45.0, 45.0, 44.9, 44.9, 44.8, 44.8, 44.7, 44.7, 44.7, 44.7, 44.7, 44.7, 44.6, 44.6, 44.6, 44.5, 44.5, 44.5, 44.4, 44.4, 44.4, 44.3, 44.3, 44.2, 44.2, 44.1, 44.0, 44.0, 43.9, 43.8, 43.8, 43.7, 43.6, 43.5, 43.4, 43.2, 43.1, 43.0, 42.8, 42.7, 42.6, 42.5, 42.5, 42.4, 42.4, 42.3, 42.3, 42.2, 42.2, 42.1, 42.1, 42.1, 42.0, 42.0, 41.9, 41.9, 41.9, 41.8, 41.8, 41.8, 41.8, 41.7, 41.7, 41.7, 41.6, 41.6, 41.6, 41.5, 41.5, 41.5, 41.5, 41.4, 41.4, 41.4, 41.4, 41.3, 41.3, 41.3, 41.2, 41.2, 41.1, 41.1, 41.0, 40.9, 40.9, 40.8, 40.7, 40.6, 40.5, 40.5, 40.5, 40.4, 40.4, 40.3, 40.3, 40.3, 40.2, 40.2, 40.2, 40.2, 40.1, 40.1, 40.1, 40.1, 40.0, 40.0, 40.0, 40.0, 40.0, 39.9, 39.9, 39.9, 39.9, 39.9, 39.9, 39.8, 39.8, 39.8, 39.8, 39.8, 39.8, 39.8, 39.7, 39.7, 39.7, 39.7, 39.7, 39.7, 39.7, 39.7, 39.6, 39.6, 39.6, 39.5, 39.5, 39.5, 39.5, 39.5, 39.3, 39.1, 38.8, 38.7, 38.6, 38.4, 38.3, 38.2, 38.2, 38.1, 38.1, 38.1, 38.0, 38.0, 37.9, 37.9, 37.8, 37.8, 37.7, 37.7, 37.6, 37.6, 37.6, 37.5, 37.5, 37.5, 37.5, 37.4, 37.4, 37.4, 37.4, 37.4, 37.3, 37.3, 37.3, 37.3, 37.3, 37.2, 37.2, 37.2, 37.1, 37.1, 37.1, 37.0, 36.9, 36.8, 36.8, 36.7, 36.7, 36.6, 36.6, 36.5, 36.4, 36.3, 36.0, 35.9, 35.8, 35.7, 35.6, 35.5, 35.5, 35.4, 35.4, 35.4, 35.4, 35.3, 35.3, 35.2, 35.2, 35.2, 35.1, 35.1, 35.0, 35.0, 35.0, 34.9, 34.9, 34.9, 34.9, 34.9, 34.8, 34.8, 34.8, 34.8, 34.7, 34.7, 34.7, 34.6, 34.6, 34.6, 34.6, 34.6, 34.5, 34.5, 34.5, 34.4, 34.4, 34.4, 34.3, 34.3, 34.3, 34.2, 34.2, 34.1, 34.0, 33.9, 33.7, 33.6, 33.5, 33.4, 33.3, 33.2, 5.1, 5.1, 5.1, 5.1, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.1, 5.1, 5.1, 5.1, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.8, 4.7, 4.7]

In [300]:
sony_share_per = [str(round(x*100, 1))+'%' for x in sony_share]
print(sony_share_per)

['5.8%', '6.7%', '7.6%', '8.7%', '9.3%', '10.3%', '10.9%', '11.2%', '11.4%', '11.6%', '11.7%', '11.8%', '11.9%', '11.9%', '12.1%', '12.4%', '12.5%', '15.2%', '15.8%', '16.1%', '16.3%', '16.4%', '16.4%', '16.4%', '16.5%', '16.5%', '16.5%', '16.5%', '16.5%', '16.5%', '16.4%', '16.4%', '16.4%', '16.5%', '16.6%', '16.7%', '16.9%', '16.9%', '17.0%', '17.0%', '17.1%', '17.1%', '17.1%', '17.1%', '17.1%', '17.1%', '17.3%', '17.5%', '17.6%', '17.8%', '18.1%', '18.4%', '18.7%', '19.0%', '19.5%', '20.0%', '20.3%', '20.6%', '20.8%', '21.0%', '21.1%', '21.2%', '21.3%', '21.4%', '21.5%', '21.6%', '21.7%', '21.7%', '21.8%', '21.8%', '21.9%', '22.0%', '22.0%', '22.0%', '22.0%', '22.0%', '22.0%', '22.1%', '22.0%', '22.0%', '22.0%', '22.2%', '22.3%', '22.3%', '22.3%', '22.3%', '22.3%', '22.3%', '22.3%', '22.2%', '22.3%', '22.3%', '22.4%', '22.4%', '22.4%', '22.4%', '22.4%', '22.4%', '22.4%', '22.3%', '22.3%', '22.3%', '22.3%', '22.2%', '22.1%', '21.9%', '21.9%', '21.8%', '21.7%', '21.7%', '21.7%', '21.8%', '21.8%', '21.8%', '21.8%', '21.8%', '21.8%', '21.8%', '21.8%', '21.9%', '21.9%', '21.9%', '21.9%', '22.0%', '22.0%', '22.0%', '22.0%', '22.0%', '22.1%', '22.1%', '22.1%', '22.1%', '22.1%', '22.1%', '22.1%', '22.1%', '22.2%', '22.2%', '22.2%', '22.2%', '22.2%', '22.2%', '22.2%', '22.2%', '22.3%', '22.7%', '22.8%', '23.0%', '23.1%', '23.2%', '23.3%', '23.4%', '23.4%', '23.5%', '23.6%', '23.7%', '23.7%', '23.9%', '23.9%', '24.0%', '24.1%', '24.2%', '24.3%', '24.4%', '24.5%', '24.5%', '24.6%', '24.6%', '24.6%', '24.7%', '24.7%', '24.8%', '24.8%', '24.9%', '24.9%', '25.0%', '25.0%', '25.1%', '25.1%', '25.1%', '25.2%', '25.2%', '25.2%', '25.2%', '25.2%', '25.3%', '25.3%', '25.3%', '25.3%', '25.4%', '25.4%', '25.4%', '25.4%', '25.4%', '25.5%', '25.5%', '25.5%', '25.5%', '25.6%', '25.6%', '25.6%', '25.7%', '25.7%', '25.8%', '25.8%', '25.9%', '25.9%', '25.9%', '25.9%', '25.9%', '26.0%', '26.0%', '26.0%', '25.9%', '26.0%', '26.1%', '26.1%', '26.2%', '26.2%', '26.2%', '26.3%', '26.3%', '26.4%', '26.4%', '26.4%', '26.5%', '26.5%', '26.5%', '26.6%', '26.6%', '26.6%', '26.7%', '26.7%', '26.7%', '26.7%', '26.7%', '26.7%', '26.7%', '26.8%', '26.8%', '26.8%', '26.8%', '26.9%', '26.9%', '26.9%', '26.9%', '27.0%', '27.0%', '27.0%', '27.1%', '27.2%', '27.2%', '27.3%', '27.3%', '27.4%', '27.4%', '27.4%', '27.5%', '27.5%', '27.6%', '27.6%', '27.6%', '27.6%', '27.7%', '27.7%', '27.8%', '27.9%', '27.9%', '28.0%', '28.0%', '28.0%', '28.1%', '28.1%', '28.1%', '28.2%', '28.2%', '28.3%', '28.3%', '28.3%', '28.4%', '28.4%', '28.4%', '28.5%', '28.5%', '28.5%', '28.5%', '28.6%', '28.6%', '28.6%', '28.6%', '28.6%', '28.7%', '28.7%', '28.7%', '28.7%', '28.8%', '28.8%', '28.8%', '28.8%', '28.8%', '28.9%', '28.9%', '28.9%', '28.9%', '28.9%', '29.0%', '29.0%', '29.1%', '29.1%', '29.1%', '29.2%', '29.2%', '29.3%', '29.2%', '29.3%', '29.3%', '29.3%', '29.3%', '29.3%', '29.4%', '29.4%', '29.4%', '29.4%', '29.5%', '29.5%', '29.5%', '29.5%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.8%', '29.8%', '29.8%', '29.8%', '29.8%', '29.8%', '29.9%', '29.9%', '29.9%', '29.9%', '29.9%', '29.9%', '29.9%', '29.9%', '30.0%', '30.0%', '30.0%', '30.1%', '30.1%', '30.1%', '30.1%', '30.1%', '30.2%', '30.2%', '30.2%', '30.5%', '30.4%', '30.6%', '30.7%', '30.7%', '30.9%', '31.0%', '31.1%', '31.1%', '31.2%', '31.2%', '31.3%', '31.3%', '31.3%', '31.5%', '31.5%', '31.5%', '31.6%', '31.6%', '31.7%', '31.7%', '31.8%', '31.8%', '31.8%', '31.9%', '31.9%', '31.9%', '32.0%', '32.0%', '32.0%', '32.1%', '32.1%', '32.1%', '32.2%', '32.2%', '32.2%', '32.2%', '32.3%', '32.3%', '32.3%', '32.4%', '32.4%', '32.4%', '32.5%', '32.6%', '32.7%', '32.7%', '32.8%', '32.9%', '32.9%', '32.9%', '33.0%', '33.1%', '33.1%', '33.2%', '33.3%', '33.4%', '33.5%', '33.6%', '33.6%', '33.7%', '33.7%', '33.7%', '33.8%', '33.8%', '33.8%', '33.9%', '33.9%', '34.0%', '34.0%', '34.1%', '34.1%', '34.2%', '34.2%', '34.3%', '34.3%', '34.3%', '34.3%', '34.4%', '34.4%', '34.4%', '34.4%', '34.5%', '34.5%', '34.5%', '34.6%', '34.6%', '34.6%', '34.7%', '34.7%', '34.7%', '34.7%', '34.7%', '34.8%', '34.8%', '34.9%', '34.9%', '34.9%', '35.0%', '35.0%', '35.0%', '35.1%', '35.1%', '35.2%', '35.3%', '35.4%', '35.5%', '35.6%', '35.7%', '35.8%', '36.0%', '36.0%', '51.2%', '51.2%', '51.2%', '51.3%', '51.3%', '51.3%', '51.4%', '51.4%', '51.4%', '51.4%', '51.5%', '51.5%', '51.5%', '51.5%', '51.5%', '51.5%', '51.6%', '51.6%', '51.4%', '51.4%', '51.5%', '51.5%', '51.5%', '51.5%', '51.5%', '51.5%', '51.6%', '51.6%', '51.6%', '51.6%', '51.6%', '51.6%', '51.6%', '51.6%', '51.6%', '51.7%', '51.7%', '51.7%', '51.8%', '51.8%', '51.8%', '51.8%', '51.9%', '51.9%', '52.0%', '52.1%', '52.1%', '52.2%', '52.3%', '52.3%', '52.4%', '52.5%', '52.5%', '52.5%', '52.6%', '52.6%', '52.6%', '52.7%', '52.7%', '52.8%', '52.8%', '52.8%', '52.9%', '52.9%', '52.9%', '53.0%', '53.0%', '53.0%', '53.0%', '53.1%', '53.1%', '53.2%', '53.2%', '53.2%', '53.3%', '53.3%', '53.3%', '53.4%', '53.4%', '53.4%', '53.5%', '53.5%', '53.5%', '53.6%', '53.6%', '53.6%', '53.7%', '53.7%', '53.7%', '53.7%', '53.8%', '53.8%', '53.8%', '53.9%', '53.9%', '53.9%', '53.9%', '53.9%']

In [305]:
microsoft_share_per = [str(round(x*100, 1))+'%' for x in microsoft_share]
print(microsoft_share_per)

['86.5%', '79.7%', '74.1%', '70.9%', '67.5%', '65.5%', '63.7%', '62.4%', '61.2%', '60.1%', '59.1%', '58.3%', '57.6%', '56.9%', '56.1%', '55.5%', '54.9%', '52.6%', '51.9%', '51.2%', '50.6%', '49.9%', '49.2%', '48.5%', '48.0%', '47.5%', '47.0%', '46.5%', '46.0%', '45.6%', '45.2%', '44.7%', '44.3%', '43.7%', '43.2%', '42.6%', '42.2%', '41.8%', '41.4%', '41.2%', '40.9%', '40.7%', '40.5%', '40.5%', '40.5%', '40.6%', '40.5%', '40.2%', '39.9%', '39.7%', '39.4%', '39.0%', '38.6%', '38.0%', '37.5%', '37.1%', '36.1%', '35.7%', '35.4%', '35.3%', '35.1%', '34.9%', '34.7%', '34.5%', '34.4%', '34.3%', '34.1%', '33.9%', '33.8%', '33.6%', '33.5%', '33.3%', '33.1%', '32.9%', '32.8%', '32.5%', '32.4%', '32.3%', '32.0%', '31.9%', '31.8%', '31.6%', '31.4%', '31.2%', '31.1%', '30.9%', '30.9%', '30.8%', '30.7%', '30.7%', '30.6%', '30.5%', '30.4%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.2%', '30.2%', '30.2%', '30.1%', '30.1%', '30.0%', '30.0%', '30.0%', '30.0%', '30.0%', '30.0%', '30.0%', '30.0%', '30.0%', '29.9%', '29.9%', '29.8%', '29.8%', '29.8%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.5%', '29.5%', '29.5%', '29.5%', '29.5%', '29.5%', '29.5%', '29.5%', '29.5%', '29.5%', '29.5%', '29.5%', '29.4%', '29.4%', '29.4%', '29.4%', '29.4%', '29.3%', '29.2%', '29.2%', '29.2%', '29.1%', '29.0%', '29.0%', '28.9%', '28.8%', '28.8%', '28.9%', '28.8%', '28.7%', '28.5%', '28.3%', '28.1%', '27.9%', '27.7%', '27.7%', '27.6%', '27.6%', '27.6%', '27.6%', '27.6%', '27.6%', '27.6%', '27.5%', '27.5%', '27.5%', '27.5%', '27.5%', '27.4%', '27.4%', '27.4%', '27.4%', '27.4%', '27.4%', '27.4%', '27.3%', '27.3%', '27.3%', '27.3%', '27.4%', '27.4%', '27.4%', '27.6%', '27.6%', '27.6%', '27.7%', '27.7%', '27.7%', '27.8%', '27.8%', '27.8%', '27.9%', '27.9%', '27.9%', '27.9%', '28.0%', '28.0%', '28.0%', '28.0%', '28.1%', '28.2%', '28.2%', '28.2%', '28.2%', '28.3%', '28.4%', '28.4%', '28.4%', '28.4%', '28.4%', '28.4%', '28.4%', '28.4%', '28.5%', '28.5%', '28.5%', '28.5%', '28.5%', '28.5%', '28.5%', '28.5%', '28.5%', '28.5%', '28.6%', '28.6%', '28.6%', '28.6%', '28.6%', '28.6%', '28.6%', '28.6%', '28.6%', '28.6%', '28.6%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.7%', '28.8%', '28.8%', '28.8%', '28.9%', '29.0%', '29.2%', '29.3%', '29.4%', '29.5%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.6%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.7%', '29.8%', '29.8%', '29.8%', '29.8%', '29.8%', '29.8%', '29.8%', '29.8%', '29.8%', '29.8%', '29.9%', '29.9%', '29.9%', '29.9%', '29.9%', '29.9%', '30.0%', '30.1%', '30.2%', '30.2%', '30.2%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.4%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.3%', '30.2%', '30.5%', '30.6%', '30.6%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.6%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.5%', '30.6%', '30.6%', '30.7%', '30.8%', '30.8%', '30.8%', '30.9%', '30.9%', '30.9%', '30.9%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.7%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '30.8%', '43.7%', '43.6%', '43.6%', '43.6%', '43.5%', '43.5%', '43.5%', '43.4%', '43.4%', '43.4%', '43.3%', '43.3%', '43.3%', '43.3%', '43.2%', '43.2%', '43.2%', '43.2%', '43.4%', '43.4%', '43.3%', '43.3%', '43.3%', '43.3%', '43.3%', '43.2%', '43.2%', '43.2%', '43.2%', '43.2%', '43.2%', '43.2%', '43.1%', '43.1%', '43.1%', '43.1%', '43.1%', '43.1%', '43.0%', '43.0%', '43.0%', '43.0%', '43.0%', '42.9%', '42.8%', '42.8%', '42.8%', '42.7%', '42.7%', '42.6%', '42.6%', '42.5%', '42.5%', '42.4%', '42.4%', '42.4%', '42.4%', '42.3%', '42.3%', '42.3%', '42.2%', '42.2%', '42.2%', '42.2%', '42.1%', '42.1%', '42.1%', '42.1%', '42.0%', '42.0%', '42.0%', '41.9%', '41.9%', '41.9%', '41.9%', '41.8%', '41.8%', '41.8%', '41.7%', '41.7%', '41.7%', '41.6%', '41.6%', '41.6%', '41.6%', '41.5%', '41.5%', '41.5%', '41.5%', '41.5%', '41.4%', '41.4%', '41.4%', '41.4%', '41.4%', '41.3%', '41.4%', '41.4%']

In [307]:
nintendo_share_per = [str(round(x*100, 1))+'%' for x in nintendo_share]
print(nintendo_share_per)

['7.7%', '13.6%', '18.3%', '20.4%', '23.1%', '24.2%', '25.5%', '26.5%', '27.4%', '28.4%', '29.1%', '29.8%', '30.5%', '31.2%', '31.7%', '32.2%', '32.7%', '32.2%', '32.3%', '32.7%', '33.1%', '33.7%', '34.4%', '35.0%', '35.5%', '36.0%', '36.5%', '37.0%', '37.5%', '37.9%', '38.4%', '38.9%', '39.3%', '39.8%', '40.3%', '40.6%', '41.0%', '41.3%', '41.6%', '41.8%', '42.0%', '42.2%', '42.3%', '42.4%', '42.3%', '42.3%', '42.2%', '42.3%', '42.5%', '42.5%', '42.4%', '42.6%', '42.8%', '43.0%', '43.1%', '42.9%', '43.6%', '43.8%', '43.8%', '43.7%', '43.8%', '43.9%', '44.0%', '44.1%', '44.1%', '44.2%', '44.3%', '44.3%', '44.4%', '44.6%', '44.6%', '44.8%', '44.9%', '45.1%', '45.2%', '45.5%', '45.6%', '45.7%', '46.0%', '46.1%', '46.3%', '46.2%', '46.3%', '46.5%', '46.6%', '46.7%', '46.8%', '47.0%', '47.0%', '47.1%', '47.2%', '47.2%', '47.3%', '47.3%', '47.3%', '47.4%', '47.4%', '47.4%', '47.4%', '47.5%', '47.5%', '47.6%', '47.6%', '47.7%', '47.9%', '48.1%', '48.1%', '48.2%', '48.4%', '48.3%', '48.3%', '48.3%', '48.3%', '48.3%', '48.4%', '48.4%', '48.5%', '48.5%', '48.5%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.3%', '48.3%', '48.3%', '48.4%', '48.4%', '48.4%', '48.4%', '48.4%', '48.1%', '47.9%', '47.8%', '47.7%', '47.7%', '47.7%', '47.7%', '47.7%', '47.6%', '47.6%', '47.4%', '47.4%', '47.4%', '47.6%', '47.7%', '47.8%', '47.9%', '47.9%', '47.9%', '47.9%', '47.9%', '47.8%', '47.8%', '47.8%', '47.7%', '47.7%', '47.7%', '47.6%', '47.6%', '47.6%', '47.5%', '47.5%', '47.5%', '47.5%', '47.5%', '47.5%', '47.4%', '47.4%', '47.4%', '47.4%', '47.4%', '47.4%', '47.3%', '47.2%', '47.2%', '47.1%', '47.0%', '46.9%', '46.9%', '46.8%', '46.8%', '46.7%', '46.7%', '46.6%', '46.6%', '46.5%', '46.4%', '46.3%', '46.3%', '46.2%', '46.1%', '46.1%', '46.0%', '45.9%', '45.8%', '45.8%', '45.8%', '45.8%', '45.7%', '45.6%', '45.6%', '45.5%', '45.5%', '45.4%', '45.4%', '45.3%', '45.2%', '45.2%', '45.1%', '45.1%', '45.0%', '45.0%', '45.0%', '44.9%', '44.9%', '44.8%', '44.8%', '44.7%', '44.7%', '44.7%', '44.7%', '44.7%', '44.7%', '44.6%', '44.6%', '44.6%', '44.5%', '44.5%', '44.5%', '44.4%', '44.4%', '44.4%', '44.3%', '44.3%', '44.2%', '44.2%', '44.1%', '44.0%', '44.0%', '43.9%', '43.8%', '43.8%', '43.7%', '43.6%', '43.5%', '43.4%', '43.2%', '43.1%', '43.0%', '42.8%', '42.7%', '42.6%', '42.5%', '42.5%', '42.4%', '42.4%', '42.3%', '42.3%', '42.2%', '42.2%', '42.1%', '42.1%', '42.1%', '42.0%', '42.0%', '41.9%', '41.9%', '41.9%', '41.8%', '41.8%', '41.8%', '41.8%', '41.7%', '41.7%', '41.7%', '41.6%', '41.6%', '41.6%', '41.5%', '41.5%', '41.5%', '41.5%', '41.4%', '41.4%', '41.4%', '41.4%', '41.3%', '41.3%', '41.3%', '41.2%', '41.2%', '41.1%', '41.1%', '41.0%', '40.9%', '40.9%', '40.8%', '40.7%', '40.6%', '40.5%', '40.5%', '40.5%', '40.4%', '40.4%', '40.3%', '40.3%', '40.3%', '40.2%', '40.2%', '40.2%', '40.2%', '40.1%', '40.1%', '40.1%', '40.1%', '40.0%', '40.0%', '40.0%', '40.0%', '40.0%', '39.9%', '39.9%', '39.9%', '39.9%', '39.9%', '39.9%', '39.8%', '39.8%', '39.8%', '39.8%', '39.8%', '39.8%', '39.8%', '39.7%', '39.7%', '39.7%', '39.7%', '39.7%', '39.7%', '39.7%', '39.7%', '39.6%', '39.6%', '39.6%', '39.5%', '39.5%', '39.5%', '39.5%', '39.5%', '39.3%', '39.1%', '38.8%', '38.7%', '38.6%', '38.4%', '38.3%', '38.2%', '38.2%', '38.1%', '38.1%', '38.1%', '38.0%', '38.0%', '37.9%', '37.9%', '37.8%', '37.8%', '37.7%', '37.7%', '37.6%', '37.6%', '37.6%', '37.5%', '37.5%', '37.5%', '37.5%', '37.4%', '37.4%', '37.4%', '37.4%', '37.4%', '37.3%', '37.3%', '37.3%', '37.3%', '37.3%', '37.2%', '37.2%', '37.2%', '37.1%', '37.1%', '37.1%', '37.0%', '36.9%', '36.8%', '36.8%', '36.7%', '36.7%', '36.6%', '36.6%', '36.5%', '36.4%', '36.3%', '36.0%', '35.9%', '35.8%', '35.7%', '35.6%', '35.5%', '35.5%', '35.4%', '35.4%', '35.4%', '35.4%', '35.3%', '35.3%', '35.2%', '35.2%', '35.2%', '35.1%', '35.1%', '35.0%', '35.0%', '35.0%', '34.9%', '34.9%', '34.9%', '34.9%', '34.9%', '34.8%', '34.8%', '34.8%', '34.8%', '34.7%', '34.7%', '34.7%', '34.6%', '34.6%', '34.6%', '34.6%', '34.6%', '34.5%', '34.5%', '34.5%', '34.4%', '34.4%', '34.4%', '34.3%', '34.3%', '34.3%', '34.2%', '34.2%', '34.1%', '34.0%', '33.9%', '33.7%', '33.6%', '33.5%', '33.4%', '33.3%', '33.2%', '5.1%', '5.1%', '5.1%', '5.1%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.2%', '5.1%', '5.1%', '5.1%', '5.1%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '5.0%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.9%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.8%', '4.7%', '4.7%']

In [322]:
#start_date = datetime(2006, 11, 25)
#end_date = datetime(2017, 11, 18)
date_li = [datetime(2006, 11, 25) + x*timedelta(7) for x in range(574)]
date_li_day = [str(x).split()[0] for x in date_li]
print(date_li_day)

['2006-11-25', '2006-12-02', '2006-12-09', '2006-12-16', '2006-12-23', '2006-12-30', '2007-01-06', '2007-01-13', '2007-01-20', '2007-01-27', '2007-02-03', '2007-02-10', '2007-02-17', '2007-02-24', '2007-03-03', '2007-03-10', '2007-03-17', '2007-03-24', '2007-03-31', '2007-04-07', '2007-04-14', '2007-04-21', '2007-04-28', '2007-05-05', '2007-05-12', '2007-05-19', '2007-05-26', '2007-06-02', '2007-06-09', '2007-06-16', '2007-06-23', '2007-06-30', '2007-07-07', '2007-07-14', '2007-07-21', '2007-07-28', '2007-08-04', '2007-08-11', '2007-08-18', '2007-08-25', '2007-09-01', '2007-09-08', '2007-09-15', '2007-09-22', '2007-09-29', '2007-10-06', '2007-10-13', '2007-10-20', '2007-10-27', '2007-11-03', '2007-11-10', '2007-11-17', '2007-11-24', '2007-12-01', '2007-12-08', '2007-12-15', '2007-12-22', '2007-12-29', '2008-01-05', '2008-01-12', '2008-01-19', '2008-01-26', '2008-02-02', '2008-02-09', '2008-02-16', '2008-02-23', '2008-03-01', '2008-03-08', '2008-03-15', '2008-03-22', '2008-03-29', '2008-04-05', '2008-04-12', '2008-04-19', '2008-04-26', '2008-05-03', '2008-05-10', '2008-05-17', '2008-05-24', '2008-05-31', '2008-06-07', '2008-06-14', '2008-06-21', '2008-06-28', '2008-07-05', '2008-07-12', '2008-07-19', '2008-07-26', '2008-08-02', '2008-08-09', '2008-08-16', '2008-08-23', '2008-08-30', '2008-09-06', '2008-09-13', '2008-09-20', '2008-09-27', '2008-10-04', '2008-10-11', '2008-10-18', '2008-10-25', '2008-11-01', '2008-11-08', '2008-11-15', '2008-11-22', '2008-11-29', '2008-12-06', '2008-12-13', '2008-12-20', '2008-12-27', '2009-01-03', '2009-01-10', '2009-01-17', '2009-01-24', '2009-01-31', '2009-02-07', '2009-02-14', '2009-02-21', '2009-02-28', '2009-03-07', '2009-03-14', '2009-03-21', '2009-03-28', '2009-04-04', '2009-04-11', '2009-04-18', '2009-04-25', '2009-05-02', '2009-05-09', '2009-05-16', '2009-05-23', '2009-05-30', '2009-06-06', '2009-06-13', '2009-06-20', '2009-06-27', '2009-07-04', '2009-07-11', '2009-07-18', '2009-07-25', '2009-08-01', '2009-08-08', '2009-08-15', '2009-08-22', '2009-08-29', '2009-09-05', '2009-09-12', '2009-09-19', '2009-09-26', '2009-10-03', '2009-10-10', '2009-10-17', '2009-10-24', '2009-10-31', '2009-11-07', '2009-11-14', '2009-11-21', '2009-11-28', '2009-12-05', '2009-12-12', '2009-12-19', '2009-12-26', '2010-01-02', '2010-01-09', '2010-01-16', '2010-01-23', '2010-01-30', '2010-02-06', '2010-02-13', '2010-02-20', '2010-02-27', '2010-03-06', '2010-03-13', '2010-03-20', '2010-03-27', '2010-04-03', '2010-04-10', '2010-04-17', '2010-04-24', '2010-05-01', '2010-05-08', '2010-05-15', '2010-05-22', '2010-05-29', '2010-06-05', '2010-06-12', '2010-06-19', '2010-06-26', '2010-07-03', '2010-07-10', '2010-07-17', '2010-07-24', '2010-07-31', '2010-08-07', '2010-08-14', '2010-08-21', '2010-08-28', '2010-09-04', '2010-09-11', '2010-09-18', '2010-09-25', '2010-10-02', '2010-10-09', '2010-10-16', '2010-10-23', '2010-10-30', '2010-11-06', '2010-11-13', '2010-11-20', '2010-11-27', '2010-12-04', '2010-12-11', '2010-12-18', '2010-12-25', '2011-01-01', '2011-01-08', '2011-01-15', '2011-01-22', '2011-01-29', '2011-02-05', '2011-02-12', '2011-02-19', '2011-02-26', '2011-03-05', '2011-03-12', '2011-03-19', '2011-03-26', '2011-04-02', '2011-04-09', '2011-04-16', '2011-04-23', '2011-04-30', '2011-05-07', '2011-05-14', '2011-05-21', '2011-05-28', '2011-06-04', '2011-06-11', '2011-06-18', '2011-06-25', '2011-07-02', '2011-07-09', '2011-07-16', '2011-07-23', '2011-07-30', '2011-08-06', '2011-08-13', '2011-08-20', '2011-08-27', '2011-09-03', '2011-09-10', '2011-09-17', '2011-09-24', '2011-10-01', '2011-10-08', '2011-10-15', '2011-10-22', '2011-10-29', '2011-11-05', '2011-11-12', '2011-11-19', '2011-11-26', '2011-12-03', '2011-12-10', '2011-12-17', '2011-12-24', '2011-12-31', '2012-01-07', '2012-01-14', '2012-01-21', '2012-01-28', '2012-02-04', '2012-02-11', '2012-02-18', '2012-02-25', '2012-03-03', '2012-03-10', '2012-03-17', '2012-03-24', '2012-03-31', '2012-04-07', '2012-04-14', '2012-04-21', '2012-04-28', '2012-05-05', '2012-05-12', '2012-05-19', '2012-05-26', '2012-06-02', '2012-06-09', '2012-06-16', '2012-06-23', '2012-06-30', '2012-07-07', '2012-07-14', '2012-07-21', '2012-07-28', '2012-08-04', '2012-08-11', '2012-08-18', '2012-08-25', '2012-09-01', '2012-09-08', '2012-09-15', '2012-09-22', '2012-09-29', '2012-10-06', '2012-10-13', '2012-10-20', '2012-10-27', '2012-11-03', '2012-11-10', '2012-11-17', '2012-11-24', '2012-12-01', '2012-12-08', '2012-12-15', '2012-12-22', '2012-12-29', '2013-01-05', '2013-01-12', '2013-01-19', '2013-01-26', '2013-02-02', '2013-02-09', '2013-02-16', '2013-02-23', '2013-03-02', '2013-03-09', '2013-03-16', '2013-03-23', '2013-03-30', '2013-04-06', '2013-04-13', '2013-04-20', '2013-04-27', '2013-05-04', '2013-05-11', '2013-05-18', '2013-05-25', '2013-06-01', '2013-06-08', '2013-06-15', '2013-06-22', '2013-06-29', '2013-07-06', '2013-07-13', '2013-07-20', '2013-07-27', '2013-08-03', '2013-08-10', '2013-08-17', '2013-08-24', '2013-08-31', '2013-09-07', '2013-09-14', '2013-09-21', '2013-09-28', '2013-10-05', '2013-10-12', '2013-10-19', '2013-10-26', '2013-11-02', '2013-11-09', '2013-11-16', '2013-11-23', '2013-11-30', '2013-12-07', '2013-12-14', '2013-12-21', '2013-12-28', '2014-01-04', '2014-01-11', '2014-01-18', '2014-01-25', '2014-02-01', '2014-02-08', '2014-02-15', '2014-02-22', '2014-03-01', '2014-03-08', '2014-03-15', '2014-03-22', '2014-03-29', '2014-04-05', '2014-04-12', '2014-04-19', '2014-04-26', '2014-05-03', '2014-05-10', '2014-05-17', '2014-05-24', '2014-05-31', '2014-06-07', '2014-06-14', '2014-06-21', '2014-06-28', '2014-07-05', '2014-07-12', '2014-07-19', '2014-07-26', '2014-08-02', '2014-08-09', '2014-08-16', '2014-08-23', '2014-08-30', '2014-09-06', '2014-09-13', '2014-09-20', '2014-09-27', '2014-10-04', '2014-10-11', '2014-10-18', '2014-10-25', '2014-11-01', '2014-11-08', '2014-11-15', '2014-11-22', '2014-11-29', '2014-12-06', '2014-12-13', '2014-12-20', '2014-12-27', '2015-01-03', '2015-01-10', '2015-01-17', '2015-01-24', '2015-01-31', '2015-02-07', '2015-02-14', '2015-02-21', '2015-02-28', '2015-03-07', '2015-03-14', '2015-03-21', '2015-03-28', '2015-04-04', '2015-04-11', '2015-04-18', '2015-04-25', '2015-05-02', '2015-05-09', '2015-05-16', '2015-05-23', '2015-05-30', '2015-06-06', '2015-06-13', '2015-06-20', '2015-06-27', '2015-07-04', '2015-07-11', '2015-07-18', '2015-07-25', '2015-08-01', '2015-08-08', '2015-08-15', '2015-08-22', '2015-08-29', '2015-09-05', '2015-09-12', '2015-09-19', '2015-09-26', '2015-10-03', '2015-10-10', '2015-10-17', '2015-10-24', '2015-10-31', '2015-11-07', '2015-11-14', '2015-11-21', '2015-11-28', '2015-12-05', '2015-12-12', '2015-12-19', '2015-12-26', '2016-01-02', '2016-01-09', '2016-01-16', '2016-01-23', '2016-01-30', '2016-02-06', '2016-02-13', '2016-02-20', '2016-02-27', '2016-03-05', '2016-03-12', '2016-03-19', '2016-03-26', '2016-04-02', '2016-04-09', '2016-04-16', '2016-04-23', '2016-04-30', '2016-05-07', '2016-05-14', '2016-05-21', '2016-05-28', '2016-06-04', '2016-06-11', '2016-06-18', '2016-06-25', '2016-07-02', '2016-07-09', '2016-07-16', '2016-07-23', '2016-07-30', '2016-08-06', '2016-08-13', '2016-08-20', '2016-08-27', '2016-09-03', '2016-09-10', '2016-09-17', '2016-09-24', '2016-10-01', '2016-10-08', '2016-10-15', '2016-10-22', '2016-10-29', '2016-11-05', '2016-11-12', '2016-11-19', '2016-11-26', '2016-12-03', '2016-12-10', '2016-12-17', '2016-12-24', '2016-12-31', '2017-01-07', '2017-01-14', '2017-01-21', '2017-01-28', '2017-02-04', '2017-02-11', '2017-02-18', '2017-02-25', '2017-03-04', '2017-03-11', '2017-03-18', '2017-03-25', '2017-04-01', '2017-04-08', '2017-04-15', '2017-04-22', '2017-04-29', '2017-05-06', '2017-05-13', '2017-05-20', '2017-05-27', '2017-06-03', '2017-06-10', '2017-06-17', '2017-06-24', '2017-07-01', '2017-07-08', '2017-07-15', '2017-07-22', '2017-07-29', '2017-08-05', '2017-08-12', '2017-08-19', '2017-08-26', '2017-09-02', '2017-09-09', '2017-09-16', '2017-09-23', '2017-09-30', '2017-10-07', '2017-10-14', '2017-10-21', '2017-10-28', '2017-11-04', '2017-11-11', '2017-11-18']